What if we want to populate a CRM database with fake data?
Let's assume this is our schema:
```markdown
- Person
    - first_name
    - last_name
    - email
    - phone
    - address
    - city
    - state
    - zip
    - country
    - company
    - job_title
    - notes
```
and we want to populate it with synthetic data. We can use faker as shown below to do this.

,first_name,last_name,account_number,email,phone_number,address,city,state,zipcode,date_of_birth,amount,account_name,account_email,account_phone,account_address,account_city,account_state,account_zipcode,account_status,account_start_date,account_end_date,account_amount
0,Stacey,Moreno,3564912336,icook@example.org,5440869623,"953 Gray Tunnel, East Christopherville, DC 68762",Hernandezmouth,Illinois,35723,1987-06-14,2691.57,Allen LLC,nmurray@jackson-bell.org,009.985.3063x029,"06355 Joan Crest Apt. 253, East Ryan, AS 26231",South Craigberg,North Dakota,95793,active,2019-06-12,2026-03-16,20816.26
1,Joseph,Johnson,3244605011,graykelly@example.com,598.067.9415x59051,"048 Martin Shoal, Andersonville, NC 04169",Hansentown,Michigan,50204,1942-07-07,6557.66,Davis and Sons,andrew30@callahan-jacobs.com,636-356-7017,"308 Michael Rapids, East Amy, RI 35592",Richardland,Louisiana,43474,active,2019-08-09,2023-09-30,14683.71
2,Shane,Palmer,4003413023,mary89@example.com,269.418.9232,"6171 Allen Cove Suite 007, Erinland, WA 60942",Harrisonmouth,Kansas,75989,1970-03-21,9112.93,Gray-Rodriguez,ulewis@rose.info,+1-165-772-3577x085,"USCGC Reese, FPO AA 60907",New Henry,Virginia,11690,inactive,2022-12-12,2025-07-26,42854.68
3,Karina,Rose,8644207015,martha37@example.org,001-531-441-1945x9871,"585 Johnson Spur, Tammyton, NC 41539",New Michele,Kentucky,34593,1949-04-06,6188.71,"Woods, Cordova and Conner",justinblair@wilson.biz,093.811.8000,"30425 Joshua Corner, Villanuevashire, AZ 20473",North Barbaraburgh,Louisiana,67181,active,2019-09-26,2024-11-27,25585.39
4,Destiny,Watson,3442067522,rwilliams@example.net,590.905.6611,"3722 Alexis Locks, Lake Robert, MP 53936",Justinview,Louisiana,09075,1996-07-23,3814.77,Greer and Sons,clarkallison@rivas.info,(672)440-8808x223,"5603 Drew Pike, West Melanie, MO 03851",Staceyville,New Mexico,45947,inactive,2022-05-05,2027-09-14,19491.88